@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color:cadetblue;
}

.red-on-true {
    box-shadow: -1px -1px 86px 45px rgba(255,0,0,0.95);
    -webkit-box-shadow: -1px -1px 86px 45px rgba(255,0,0,0.95);
    -moz-box-shadow: -1px -1px 86px 45px rgba(255,0,0,0.95);
}

.yellow-on-true {
    box-shadow: -1px -1px 86px 45px rgba(220,214,3,0.96);
    -webkit-box-shadow: -1px -1px 86px 45px rgba(220,214,3,0.96);
    -moz-box-shadow: -1px -1px 86px 45px rgba(220,214,3,0.96);
}

.green-on-true {
    box-shadow: -1px -1px 86px 45px rgba(18,212,5,0.96);
    -webkit-box-shadow: -1px -1px 86px 45px rgba(18,212,5,0.96);
    -moz-box-shadow: -1px -1px 86px 45px rgba(18,212,5,0.96);
}